<div class="feed">
  <div >
    <div class="container">
      <div id="card-container" *ngFor="let post of posts; index as i">
        <div id="card">
          <div id="post-name">{{post.authorIdFK.username}}</div>
            
            <div id="img-container" *ngIf="post.postImageLocation">
              <img class="post-img" [src]="post.postImageLocation">
            </div>

            <p class="post-description">{{post.description}}</p>
            
            <div class="date-like-container">
              <div>
                <p>{{post.creationDate | date}}</p>
              </div>

              <div class="like-container">
                <button [attr.id]="post.id" class="btn" (click)="toggleLike($event)" ><i class="fas fa-heart"></i> <span class="like-count">{{post.likeCount}}</span></button>
              </div>

            </div>

        </div>
        
      </div>
    </div>
  </div>
</div>
 