.profile{
    background: linear-gradient(110deg, rgb(188, 186, 186) 60%, rgb(128, 125, 125) 60%);
  }
  
  .flex-container {
      display: flex;
      flex-direction: row;
    }
    
    .flex-left {
      width: 35%;
      height: 100vh;
      margin: 5px;
      padding: 5px;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  
    .user-img{
        border-radius: 50%;
        border: 8px solid transparent;
        background: linear-gradient(60deg, #3e3421 10%, #ce00 100%);
    }
  
    .user-card{
      margin-top: 0px;
      padding: 10px;
      border-radius: 50%;
    }

    .user-card img{
      width: 200px;
      height: 200px;
      clip-path: circle();
    }
  
    .user-info{
      margin-top: 50px;
    }

    .user-name{
        margin-right: 5px;
    }
    
    .flex-right {
      width: 65%;
      margin: 5px;
      padding: 5px; 
    }
  
    #card-container{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
  }
  
    .card{
      background-color: rgb(99, 118, 141);
      margin-top: 25px;
      padding: 10px;
      width: 400px;
      height: 250px;
      border-radius: 6px;
      box-shadow: 10px 5px 5px rgb(67, 71, 76);
  }

  .border {
    width: 400px;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, rgb(39, 151, 173), lightgreen);
    border-image-slice: 1; 
    padding: 25px;  
}  

  
  #post-name{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
  }
  
  .post-description{
    margin-top: 10px;
  }
  
  #img-container{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
  }
  .post-img{
    width: 75%;
    height: 100%;
  }

 /*  .material-icons{
      color: #08548b; 
      justify-content: space-between;
      margin-right: 30px;
  } */

  .date-like-container{
      display: flex;
      justify-content: space-between;
  }

  .like-container{
      display: flex;
      justify-content: space-between;
  }

  .count{
      margin-left: 10px;
  }
  
 
  
  
  