<app-nav></app-nav>
<div class="profile">
  <div class="flex-container">
    <div class="flex-left">
      <div class="user-card">
          <img class="user-img" [src]="this.user.profilePictureLocation">
        <div class="user-info">
          <div ><h3>User Information</h3></div>
          <div><span class="user-name">{{this.user.firstname}}</span><span>{{this.user.lastname}}</span></div>
          <p>Bio: {{this.user.bio}}</p>
          <div></div>         
        </div>
      </div>   
    </div>
    <div class="flex-right">
      <div id="card-container" *ngFor="let post of posts; index as i">
        <div id="card">
            <div id="post-name">Post {{i + 1}}</div>
            <div id="img-container">
              <img class="post-img" [src]="post.postImageLocation">
            </div>
            <p class="post-description">{{post.description}}</p>
            <div class="date-like-container">
              <div>
                <p>{{post.creationDate | date}}</p>
              </div>
              <div class="like-container">
                <i *ngIf="isVisible" class="material-icons like-icon">thumb_up</i> 
                <i *ngIf="!isVisible" class="material-icons like-icon">thumb_down</i>
                <p *ngIf="isLike" class="count">{{post.likeCount}}</p>
                <p *ngIf="!isLike" class="count">3</p>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>

<app-postlist></app-postlist>