<app-nav></app-nav>
<div class="profile">
  <div class="flex-container">
    <div class="flex-left">
      <div class="user-card">
          <img class="user-img" [src]="this.user.profilePictureLocation">
        <div class="user-info">
          <div ><h3>User Information</h3></div>
          <div><span class="user-name">{{this.user.firstname}}</span><span>{{this.user.lastname}}</span></div>
          <p>Bio: {{this.user.bio}}</p>
          <div></div>         
        </div>
        <div>Change Profile Picture:</div>
        <input type="file" (change)="uploadProfilePic($event)">
      </div>
      
      <form #editUserInfo="ngForm" (ngSubmit)="updateInfo(editUserInfo.value)" id="create-profile-form">
        <input type="text" id="fname" name="firstname" placeholder=" First Name" ngModel required>
        <input type="text"id="lname" name="lastname" placeholder=" Last Name" ngModel required ><br>
        <input type="text"id="username" name="username" placeholder=" Username"  ngModel required >
        <input type="password"id="password" name="password" placeholder=" Password" ngModel required ><br>
        <input type="email" id="email" name="email" placeholder=" Email" ngModel required><br>
        <textarea type="text" id="bio" name="bio"  placeholder="  Tell us a little about yourself....." ngModel></textarea><br>
        <button id="submit-btn" type="submit"> Update Profile </button> 
      </form>
    </div>
    <div class="flex-right">
      <div id="card-container" *ngFor="let post of posts; index as i">
        <div class="card border">
            <div id="post-name">Post {{i + 1}}</div>
            <div id="img-container">
              <img class="post-img" [src]="post.postImageLocation">
            </div>
            <p class="post-description">{{post.description}}</p>
            <div class="date-like-container">
              <div>
                <p>{{post.creationDate | date}}</p>
              </div>
              <div class="like-container">
                <i *ngIf="isVisible" class="material-icons like-icon">thumb_up</i> 
                <i *ngIf="!isVisible" class="material-icons like-icon">thumb_down</i>
                <p *ngIf="isLike" class="count">{{post.likeCount}}</p>
                <p *ngIf="!isLike" class="count">3</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

