@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Carter+One&family=Gloria+Hallelujah&family=Monoton&family=Permanent+Marker&display=swap');

.friends-label{
    font-family: 'Abril Fatface', cursive;
    font-size: 50pt;
    letter-spacing: 2px;
    margin-left:100px;
    color: white;
}

.friends-container{
    background-color: rgb(99, 118, 141);
    text-align: left;
    height: 450px;
    width: 300px;
    margin: 25px;
    padding: 25px;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(67, 71, 76);
    
}

.friend{
    margin: 10px;
    border: none;
    background: rgb(188, 186, 186);
    height: 50px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(67, 71, 76);
    
}

