<video id="background-video" autoplay loop muted>
    <source src="https://static.videezy.com/system/resources/previews/000/013/085/original/Smoke_5_-_48s_-_4k_res.mp4" type="video/mp4">
  </video>

<div class="login-container">
<form class="login-form">
  <img src="https://media.discordapp.net/attachments/958790089184522280/964253225438019595/air_network_cropped.png" style="width: 450px; height: 250px;" alt="logo">
    <!-- <h1>Air Network</h1> -->
    <br>
    <h2>Please Login</h2>
    <!-- <h2>Please Login</h2> -->
    <input class="credentials" id="username" type="text" placeholder="Username"><br>
    <input class="credentials" id="password" type="password" placeholder="Password"><br>
    <button class="credentials" type="submit" (click)=" $event.preventDefault()">Login</button>
    <button class="credentials" id="register-btn" type="submit" >
      <a  routerLink="/register">Create Profile</a></button><br>
    <app-register *ngIf="isVisable"></app-register>
</form>
</div>