<video id="background-video" autoplay loop muted>
    <source src="https://static.videezy.com/system/resources/previews/000/013/085/original/Smoke_5_-_48s_-_4k_res.mp4" type="video/mp4">
  </video>


    <div id="create-profile-container">
        <form id="create-profile-form">
            <h1>Create Profile</h1>
            <!-- <form id="upload-form" action="/action_page.php">
              <div id="profile-picture"></div>
              <label for="img" id="img-dir">Upload Profile Picture </label><br>
              <input type="file" id="img" name="img" accept="image/*">
              <input type="submit">
        </form> -->
        <div id="profile-picture"></div>
        <label for="img" id="img-dir">Upload Profile Picture </label><br>
        <input type="file" id="img-selector" name="img" accept="image/*"><br>
        <input id="fname" type="text" placeholder=" First Name" required>
        <input id="lname" type="text" placeholder=" Last Name" required><br>
        <input id="username" type="text" placeholder=" Username" required>
        <input id="password" type="password" placeholder=" Password" required><br>
        <input id="email" type="email" placeholder=" Email" required><br>
        <textarea id="bio" type="text" placeholder="  Tell us a little about yourself....."></textarea><br>
        <button id="submit-btn" type="submit"> Create Profile </button>
    </form>
</div>


